<div>
    <app-search-twitter (getTweets)="getTweets($event)"></app-search-twitter>
    <app-tweet 
        *ngFor="let tweet of tweets" 
        [tweet]="tweet"
        [isSaved]=false
        (saveTweet)="saveTweet($event)"
    >
    </app-tweet>
</div>