.tweet-card {
    border: 1px solid rgb(206, 212, 218);
    padding: 1em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 2fr auto;
    cursor: pointer;
}
.tweet__screen-name {
    font-weight: bold;
}
.tweet__date-created {
    text-align: right;
}
.tweet__text {
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
  }
.tweet-card__btn-group {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: flex-end;
}