<div class="app-container">
  <h1 class="h1">{{ title }}</h1>
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>Search Twitter</ng-template>
      <ng-template ngbTabContent>
          <app-tweet-list></app-tweet-list>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Saved Entries</ng-template>
      <ng-template ngbTabContent>
          <app-saved-tweet-list></app-saved-tweet-list>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>