<form class="input-group mb-3" (ngSubmit)="searchTwitter()">
    <input type="text" name="hashtags" [(ngModel)]="hashtags" class="form-control" placeholder="Search Twitter by Hashtag" aria-label="Hashtag" aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" value="Submit" id="button-addon2">Search Twitter</button>
    </div>
</form>
