<div [ngClass]="setClasses()" class="tweet-card" (click)="goToTwitter(tweet)">
  <div class="tweet__screen-name">{{ tweet.screen_name }}</div>
  <div class="tweet__date-created">{{ tweet.date_created  | date:'medium' }}</div>
  <div class="tweet__text">{{ tweet.text }}</div>
  <div class="tweet-card__btn-group">
    <button *ngIf="!isSaved" (click)="save(tweet,$event)" class="tweet_ button btn btn-primary">+</button>
    <button *ngIf="isSaved" (click)="delete(tweet,$event)" class="tweet_ button btn btn-danger">-</button>
  </div>
</div>
